{% extends 'base.html' %}
{% block content %}
    <form action="" method="POST" novalidate>
        {{ form.csrf_token }}
        {{ form.title.label }} {{ form.title() }}
        <br>
        {% for error in form.title.errors %}
            <span class="error-message">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.description.label }} {{ form.description() }}
        <br>
        {{ form.begin_at.label }} {{ form.begin_at() }}
        <br>
        {% for error in form.begin_at.errors %}
            <span class="error-message">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.end_at.label }} {{ form.end_at() }}
        <br>
        {% for error in form.end_at.errors %}
            <span class="error-message">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.max_users.label }} {{ form.max_users() }}
        <br>
        {% for error in form.max_users.errors %}
            <span class="error-message">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.is_active.label }} {{ form.is_active() }}
        <br>
        {% for error in form.is_active.errors %}
            <span class="error-message">{{ error }}</span>
        {% endfor %}
        <p class="error-message">{{ context.error }}</p>
        <input type="submit" value="Create event">
        <br>
{% endblock %}