{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if items %}
        <table class="table-style">
            <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    {% for attr_name in headers %}
                        <td class="large-value">{{ item[attr_name] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items to display.</p>
    {% endif %}
{% endblock %}
